<div class="cv_contact contact">
    <h3 class="contact_title"><%= title %></h3>
    <a class="contact_telephone" href="tel:+33641764278" itemprop="telephone"><%= telephone %></a>
    <!--<div class="contact_adress adress" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">-->
    <!--<span class="adress_street" itemprop="streetAddress">8 rue Edouard Lefebvre</span>-->
    <!--<span class="adress_locality" itemprop="addressLocality">Versailles</span>-->
    <!--<span class="adress_postal-code" itemprop="postalCode">78000</span>-->
    <!--</div>-->
    <a class="contact_email" href="mailto:jonathan.coueraud.linkedin@gmail.com" itemprop="email"><%= email %></a>
    <a class="contact_social" href="https://www.linkedin.com/in/jonathan-coueraud/" rel="me"
       itemprop="sameAs"><%= linkedinLink %></a>
</div>