<div class="cv_contact contact">
    <h3 class="contact_title"><%= title %></h3>
    <!--<div class="contact_item contact_telephone telephone">-->
        <!--<i class="contact_icon fa fa-phone fa-lg"></i>-->
        <!--<a class="contact_value telephone_value" href="tel:+33641764278" itemprop="telephone"></a>-->
    <!--</div>-->
    <div class="contact_item contact_email email">
        <i class="contact_icon fa fa-envelope fa-lg"></i>
        <a class="contact_value email_value" href="mailto:jonathan.coueraud.linkedin@gmail.com" itemprop="email"><%= email %></a>
    </div>
    <div class="contact_item contact_social social">
        <i class="contact_icon fa fa-linkedin-square fa-lg"></i>
        <a class="contact_value social_value" href="https://www.linkedin.com/in/jonathan-coueraud/" rel="me"
           itemprop="sameAs"><%= linkedinLink %></a>
    </div>
</div>