<div class="cv_header header">
    <h1 class="header_name name" itemprop="name">
        <span class="name_first" itemprop="givenName"><%= givenName %></span>
        <span class="name_last" itemprop="familyName"><%= familyName %></span>
    </h1>
    <h2 class="header_title title" itemprop="jobTitle"><%= jobTitle %></h2>
</div>