<div class="skills_item skill">
    <h4 class="skills_title"><%= title %></h4>
    <% skills.forEach(function (skill) { %>
    <h5 class="skills_item skill"><%= skill.name %></h5>
    <% }) %>
</div>